{% extends 'auth.html' %}
{% load static %}

{% block content %}
<main>
    <section class="container">
        <div class="login-form">
            <h2>Forgot Password</h2>
            {% for msg in messages %}
            <div class="container">
                <h5>{{ msg }}</h5>
            </div>
            {% endfor %}
            <form action="" method="post" id="login-form" class="active">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <button type="submit" class="login-button">Submit</button>
            </form>
        </div>
    </section>
</main>
{% endblock content %}
