{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="login-register">
        <div class="login-form">
            <h2>Login</h2>
            <form action="" method="post" style="margin-bottom: 20px;">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="login-button">Login</button>
            </form>
            <a href="{% url 'Store:forgot_password' %}">Forgot Password?</a>
        </div>
        <div class="register-form">
            <h2>Register</h2>
            <form action="{% url 'Store:register' %}" method="post">
                {% csrf_token %}
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="full_name" required>
                <label for="username2">Username:</label>
                <input type="text" id="username2" name="username" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password2">Password:</label>
                <input type="password" id="password2" name="password" required>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
                <button type="submit" class="register-button">Register</button>
            </form>
        </div>
    </section>
</main>
{% endblock content %}
