{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>

    {% for msg in messages %}
        <div class="container">
            <h5>{{ msg }}</h5>
        </div>
        {% endfor %}

    <h2 style="margin:20px">Transactions</h2>
    <section class="cart-items">
        <div class="product-grid">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Trans. Id</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trans in transactions %}
                    <tr>
                        <td>{{ trans.customer.username }}</td>
                        <td>
                            {% for order in trans.cart.orders.all %}
                            {{ order.product.name }}<br>
                            {% endfor %}
                        </td>
                        <td>$ {{ trans.cart.total_amount }}</td>
                        <td>{{ trans.transaction_id }}</td>
                        <td>{{ trans.date }}</td>
                        <td>
                            {% if trans.is_success %}
                            <b style="color: rgb(19, 116, 19);">Success</b>
                            {% else %}
                            <b style="color: rgb(236, 201, 0);">Pending</b>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No transactions made yet</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

</main>
{% endblock content %}