<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Marketplace</title>
  <link rel="stylesheet" href="{% static 'store/angel.css' %}">
</head>
<body>
  <header>
    <div class="logo">
      <!-- Place your logo here -->
      <img src="logo.png" alt="Angel Aesthetics Logo">
    </div>
    <h1>Online Marketplace</h1>
  </header>

  <nav>
    <ul>
      <li><a href="{% url 'Store:home' %}">Home</a></li>
      <li><a href="{% url 'Store:cart' %}">Cart</a></li>
      <li><a href="{% url 'Store:transactions' %}">Transactions</a></li>
      {% if customer %}
      <li><a href="{% url 'Store:logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'Store:login' %}">Sign up/Log-in</a></li>
      {% endif %}
    </ul>
  </nav>

  {% block content %}
  {% endblock content %}


  <footer>
    <p>&copy; 2023 Online Marketplace. All rights reserved.</p>
  </footer>

  <script src="{% static 'angel.js' %}"></script>
</body>
</html>
